<h1><%= @listing.title %></h1>

Price: <%= @listing.price %><br>

Description: <%= @listing.description %><br>

Guest: <%= @listing.max_guest %><br>

Bed: <%= @listing.no_of_bed %><br>

Bathroom: <%= @listing.no_of_bathroom %><br>

Property type: <%= @listing.property_type%><br>

Address: <%= @listing.address %><br>

Country: <%= @listing.country %><br>

City: <%= @listing.city %><br>
