<h1>Hello</h1>
<%= link_to "Sign in with FaceBook", "auth/facebook" %><br>
<%= link_to "Create listing", "listings/new" %><br>


<h2>Listing</h2>
<% @listing.each do |x| %>
	<%= link_to x.title, listing_path(x.id) %><%= x.price %><br>	
<% end %>

<%= paginate @listing %>